
@font-face {
  font-family: 'Anything';
  src: url('../fonts/Anything.woff') format('woff2');
  /* Puedes agregar más formatos si es necesario */
  font-weight: normal;
  font-style: normal;
  font-family: 'Zambajoun';
  src: url('../fonts/Zambajoun.woff') format('woff2');
}
  
  

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif; 
  background-color: #000000;
}

header {
  padding: 10px 0;
  color: white;
  text-align: center;
  background-image: url('../img/2.jpg'); /* Ruta de la imagen de fondo para header y hero */
  background-size: cover;
  background-attachment: fixed;
  transition: background-size 0.5s ease; /* Agregamos transición para suavizar el efecto de zoom */
}

@media screen and (max-width: 768px) {
  header {
      font-size: 1.5em;
  }
}
 
  main {
    padding: 20px 0;
  }
  
  h1 {
    color: #fff;
    font-family: 'Anything', sans-serif;
    color:rgba(253, 2, 2, 0.808);
    font-weight: bold;
    font-size: 43px;
  }
   h2 {
    color: #fff;
    font-family: 'Zambajoun', sans-serif;
    font-size: 24px;
  }
  
  .btn-reserva {
    border: 2px solid #700505;
    padding: 15px 45px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    text-transform: uppercase;
    height: 40px;
    line-height: 1.7;
    font-size: 13px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    color: #fff;
    text-decoration: none;
  }

  .btn-reserva:hover {
    border: 2px solid #700505;
    background-color: #700505;
    padding: 15px 45px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    text-transform: uppercase;
    height: 40px;
    line-height: 1.7;
    font-size: 13px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    color: #fff;
    text-decoration: none;

  }

  .btn-editar {
    display: inline-block;
  padding: 10px 20px;
  background-color: #034d13; /* Puedes cambiar el color según tu preferencia */
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;

  }
  .btn-editar:hover {
    display: inline-block;
  padding: 10px 20px;
  background-color: #fff; /* Puedes cambiar el color según tu preferencia */
  color: #034d13;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;

  }

  .btn-primary {
    background-color: #28a745;
    border-color: #28a745;
    color: #8a0101; /* Agrega color de texto para asegurar la visibilidad */
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #218838; /* Cambia el color al pasar el ratón sobre el botón */
    border-color: #218838; /* Cambia el color del borde al pasar el ratón sobre el botón */
}

.btn-danger{
  font-weight: bold;
}

.btn-success {
 font-weight: bold;
}
 
  /* Estilos para la tabla de productos */
.table-responsive {
  margin-top: 20px;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: #65656600;
  max-width: 100%;
  border: 1px solid #fff; /* Borde inferior */
  box-shadow:    30px 30px 30px rgba(253, 2, 2, 0.2); /* Sombra */
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #dee2e6;
  color: #fff;
  max-width: 100%;
  
}

.table th {
  background-color: #343a40;
  color: white;
  max-width: 100%;
  
}

/* styles.css */

.table-auto {
  table-layout: auto;
  width: 100%;
}

.error p {
  color:#fff;
}

/* Estilos para las acciones en la tabla */
.btn-table {
  margin-right: 5px;
}

/* Estilos para la sección de productos */
.productos-section {
  margin-top: 20px;
}

.producto-image {
  border-radius: 50%;
}

/* Estilos para el spinner de carga */
.spinner-border {
  color: rgba(253, 2, 2); /* Color verde, puedes ajustarlo según tu paleta de colores */
}

/* Estilos para los mensajes de error y carga */
.error-message,
.loading-message {
  margin-top: 20px;
  color: #dc3545; /* Color rojo, puedes ajustarlo según tu paleta de colores */
}

/* styles.css */

form {
  background-color: rgb(45, 45, 46);
  margin: 10px auto;
  width: 400px;
  padding: 20px;
  border: 1px solid #fff; /* Borde inferior */
  box-shadow: 0 5px 30px 30px rgba(253, 2, 2, 0.2); /* Sombra */
}

form h1 {
  color: white;
}

.form-group {
  margin-bottom: 15px;
}

label {
  color: white;
  padding: 5px;
  margin: 3px;
  box-shadow: 0  1px  rgba(253, 153, 2, 0.2); /* Sombra */
}

img {
  margin-top: 10px;
  display: block;
}

/* styles.css */

.btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn-group button {
  margin-right: 10px;
}

.button-container {
  display: flex;

  margin-top: 1rem;
}

.button-container a,
.button-container button {
  margin-right: 15px; /* Ajusta según sea necesario */
}

/* hmlt*/


.container {
  margin: 0 auto;
  background-image: url(../img/3.png);
  background-size: cover;
  background-attachment: fixed;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .container {
      padding: 0 20px; /* Añade relleno a los lados en pantallas más pequeñas si es necesario */
  }
}


nav {
  background-color: transparent !important;
  color: #ad9300;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}

.menu-toggle {
  font-size: 24px;
  cursor: pointer;
  display: none; /* Inicialmente oculto en pantallas más grandes */
  color:#ad9300;
  
  
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center; /* Alinea los elementos verticalmente al centro */
  color:#ad9300;
  font-size: 20px;
  text-transform: uppercase;
  
}

.nav-list li {
  margin-left: 20px;
  color:#ad9300;
  
  
}

.nav-list a {
  text-decoration: none;
  font-weight: bold;
  color:#ad9300;
  
}

.nav-list a:hover {
  text-decoration: none;
  font-weight: bold;
  color:#fff;
}

/* Ajusta el tamaño de fondo al 110% cuando se pasa el mouse sobre el body */
body:hover {
  background-size: 110%;
}

/* Media query para hacer ajustes en tamaños de fuente u otros estilos en dispositivos más pequeños */
@media screen and (max-width: 768px) {
  .menu-toggle {
      display: block; /* Mostrar en pantallas más pequeñas */
  }

  .nav-list {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0; /* Alinea el menú a la derecha */
      width: 100%;
      background-color: rgb(0, 0, 0);
  }

  .nav-list.show {
      display: flex;
  }

  .nav-list li {
      margin: 10px 0;
  }
}

.hero {
  color: white;
  text-align: center;
  padding: 100px 0;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(94, 22, 22) ; /* Puedes cambiar el color según tu preferencia */
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #e03e00; /* Cambia el color al pasar el mouse */
}

.new-section {
  background-color: #f4f4f4; /* Color de fondo para la nueva sección */
  padding: 80px 0;
}

.new-section-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.new-section h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.new-section p {
  font-size: 1.2em;
}

.cta {
  background-color: #700505;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin: 50px;
  border: 2px solid white;
  box-shadow: 0 0 10px rgba(252, 250, 250, 0.74);
  font-size: 18px;
}

.cta:hover {
  background-color: #e68a00;
}

.rotating-image-container {
  overflow: hidden;
  width: 300px;
  height: 300px;
  margin: 20px auto;
}

.rotating-image {
  width: 100%;
  height: 100%;
  background: url('../img/5.png') center/cover;
  animation: rotateImage 25s linear infinite;
}

@keyframes rotateImage {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}


/* Estilos responsivos */
@media (max-width: 768px) {
  .hero {
      flex-direction: column-reverse;
      height: auto;
      width: auto;
  }

  .hero-content,
  .rotating-image-container {
      width: auto;
      text-align: center; /* Centrar el contenido horizontalmente */
  }

  .rotating-image-container {
      margin-top: 20px;
      width: 100%;
  }

  .rotating-image {
    width: 300px;
    height: 300px;
    margin: 0 auto; /* Centrar la imagen horizontalmente */
} 

}



section {
  padding: 20px;
  margin: 20px 0;
  background-color: rgba(0, 0, 0, 0.61);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dish {
  margin-bottom: 20px;
}

.dish img {
  max-width: 100%;
  border-radius: 5px;
}

.price {
  display: block;
  color: #333;
  font-weight: bold;
  margin-top: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    
    bottom: 0;
    width: 100%;
}

.container h2{
  color:#28a745;
  font-weight: bold;
}




#about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.column {
  flex: 1;
  text-align: center;
  padding: 20px;
}

.center-column {
  flex: 2;
  text-align: center; /* Centrar el texto en la columna central */
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .column {
    display: none; /* Ocultar columnas en dispositivos móviles */
  }

  .center-column {
    flex: 1; /* Ajustar el ancho de la columna central en dispositivos móviles */
  }

  /* Ajustar el tamaño de fuente y otros estilos para dispositivos móviles */
  p {
    font-size: 16px; /* Tamaño de fuente más pequeño para dispositivos móviles */
    margin-bottom: 10px; /* Menos espacio entre párrafos */
  }
}
.responsive-iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; /* Esto establece la proporción del contenedor en función del ancho y alto del iframe (16:9) */
}

.responsive-iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



#contact {
  display: grid;
  grid-template-columns: 1fr; /* Por defecto, una columna para dispositivos pequeños */
  gap: 20px;
  padding: 20px;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

#contact-info, #contact-form {
  background-color: #f0f0f000;
  padding: 20px;
  border-radius: 10px;
  height: 100%; /* Establecer una altura fija para ambas columnas */
}

#contact-form {
  margin-top: 20px; /* Espacio entre la información de contacto y el formulario */
}


input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #700505;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border: 2px solid white;
  box-shadow: 0 0 10px rgba(252, 250, 250, 0.74);
  font-size: 18px;
}

/* Media query para pantallas más grandes */
@media (min-width: 768px) {
  #contact {
      grid-template-columns: repeat(2, 1fr);
  }
}

#cta-section {
  position: relative;
  background-image: url('../img/hero.png'); /* Reemplaza 'hero.png' con la ruta de tu imagen de fondo */
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

#cta-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.658); /* Ajusta el valor alfa (último número) para cambiar la opacidad */
  z-index: 0; /* Cambiado a 0 para estar en el mismo nivel que el fondo */
}

/* Ajusta el z-index del contenido para que esté por encima del pseudo-elemento */
#cta-section > * {
  position: relative;
  z-index: 1;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Color negro con 50% de opacidad */
  z-index: -1; /* Para colocar el overlay detrás del contenido */
}

#cta-section h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

#cta-section p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

#cta-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.2em;
  text-decoration: none;
  background-color: #ff5733;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#cta-button:hover {
  background-color: #e64a2e;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.imagen {
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px; /* Máximo ancho para evitar que las imágenes sean demasiado grandes en pantallas grandes */
}

.imagen img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.imagen:hover img {
  transform: scale(1.1);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-contenido {
  margin: 15% auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
}

.cerrar {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.imagen {
  cursor: pointer;
}

/* Media query para dispositivos con ancho máximo de 600px */
@media only screen and (max-width: 600px) {
  .imagen {
      max-width: 100%; /* Cambiado a 100% para pantallas pequeñas */
  }
}