
@font-face {
  font-family: 'Anything';
  src: url('../fonts/Anything.woff') format('woff2');
  /* Puedes agregar más formatos si es necesario */
  font-weight: normal;
  font-style: normal;
  font-family: 'Zambajoun';
  src: url('../fonts/Zambajoun.woff') format('woff2');
}
  
  body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(15, 15, 15);
  background-image: url(../img/1.png);
  background-size: cover; /* Hace que la imagen de fondo cubra toda la pantalla */
  background-position: center; /* Centra la imagen de fondo */
  background-attachment: fixed; /* Fija la imagen de fondo para que no se desplace con el contenido */
  height: 100vh; /* 100% del viewport height para ocupar toda la pantalla */
}

  header {
    background-color: rgb(9, 250, 21);
    padding: 10px 0;
    color: white;
    text-align: center;
  }

 
  
  main {
    padding: 20px 0;
  }
  
  h1 {
    color: #fff;
    font-family: 'Anything', sans-serif;
    color:rgba(253, 2, 2, 0.808);
    font-weight: bold;
    font-size: 43px;
  }
   h2 {
    color: #fff;
    font-family: 'Zambajoun', sans-serif;
    font-size: 24px;
  }
  
  .btn-reserva {
    background-color: #28a745;
    border-color: #28a745;
  }

  .btn-primary {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff; /* Agrega color de texto para asegurar la visibilidad */
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #218838; /* Cambia el color al pasar el ratón sobre el botón */
    border-color: #218838; /* Cambia el color del borde al pasar el ratón sobre el botón */
}

.btn-danger{
  font-weight: bold;
}

.btn-success {
 font-weight: bold;
}
 
  /* Estilos para la tabla de productos */
.table-responsive {
  margin-top: 20px;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: #656566;
  max-width: 100%;
  border: 1px solid #fff; /* Borde inferior */
  box-shadow:    30px 30px 30px rgba(253, 2, 2, 0.2); /* Sombra */
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #dee2e6;
  color: #fff;
  max-width: 100%;
  
}

.table th {
  background-color: #343a40;
  color: white;
  max-width: 100%;
  
}

/* styles.css */

.table-auto {
  table-layout: auto;
  width: 100%;
}

.error p {
  color:#fff;
}

/* Estilos para las acciones en la tabla */
.btn-table {
  margin-right: 5px;
}

/* Estilos para la sección de productos */
.productos-section {
  margin-top: 20px;
}

.producto-image {
  border-radius: 50%;
}

/* Estilos para el spinner de carga */
.spinner-border {
  color: rgba(253, 2, 2); /* Color verde, puedes ajustarlo según tu paleta de colores */
}

/* Estilos para los mensajes de error y carga */
.error-message,
.loading-message {
  margin-top: 20px;
  color: #dc3545; /* Color rojo, puedes ajustarlo según tu paleta de colores */
}

/* styles.css */

form {
  background-color: rgb(45, 45, 46);
  margin: 10px auto;
  width: 400px;
  padding: 20px;
  border: 1px solid #fff; /* Borde inferior */
  box-shadow: 0 5px 30px 30px rgba(253, 2, 2, 0.2); /* Sombra */
}

form h1 {
  color: white;
}

.form-group {
  margin-bottom: 15px;
}

label {
  color: white;
  padding: 5px;
  margin: 3px;
  box-shadow: 0  1px  rgba(253, 153, 2, 0.2); /* Sombra */
}

img {
  margin-top: 10px;
  display: block;
}

/* styles.css */

.btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn-group button {
  margin-right: 10px;
}

.button-container {
  display: flex;

  margin-top: 1rem;
}

.button-container a,
.button-container button {
  margin-right: 15px; /* Ajusta según sea necesario */
}

/* hmlt*/



header {
  background-color: rgba(51, 51, 51, 0.733);
  color: #fff;
  text-align: center;
  padding: 20px;
}

nav ul {
  list-style: none;
  margin: 20px;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  background-color: rgba(253, 2, 2, 0.185);
  width: 100%; /* Hacer que la barra de navegación ocupe todo el ancho */
  margin-right:15px;
}

nav ul li {
  display: inline;
  margin-right: 22px;
}

nav a {
  text-decoration: none;
  color: #ad9300;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #fff;
}






.hero {
  position: relative;
  height: 500px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: transparent;
}


.hero-content {
  max-width: 50%;
}

.hero h2 {
  font-size: 2.5em;
  max-width: 600px;
  margin: 50px;
}

.cta {
  background-color: #700505;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin: 50px;
  border: 2px solid white;
  box-shadow: 0 0 10px rgba(252, 250, 250, 0.74);
  font-size: 18px;
}

.cta:hover {
  background-color: #e68a00;
}

.rotating-image-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden; /* Evitar que la imagen redonda se estire y se vuelva ovalada */
}

.rotating-image {
  width: 95%;
  height: 100%;
  object-fit: contain; /* Asegurar que la imagen redonda se ajuste al contenedor sin distorsión */
  background: url('../img/2.png') center/cover no-repeat; /* Reemplaza 'sushi-icon.png' con tu imagen redonda */
  animation: rotate 30s linear infinite; /* Cambia la duración a 6 segundos */
}

@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .hero {
      flex-direction: column-reverse;
      height: auto;
  }

  .hero-content,
  .rotating-image-container {
      width: 100%;
      max-width: none;
  }

  .rotating-image-container {
      margin-top: 20px;
  }
}




section {
  padding: 20px;
  margin: 20px 0;
  background-color: rgba(0, 0, 0, 0.61);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dish {
  margin-bottom: 20px;
}

.dish img {
  max-width: 100%;
  border-radius: 5px;
}

.price {
  display: block;
  color: #333;
  font-weight: bold;
  margin-top: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    
    bottom: 0;
    width: 100%;
}
/* Estilos responsivos */
@media (max-width: 768px) {
  .hero {
      flex-direction: column-reverse;
      height: auto;
  }

  .hero-content,
  .rotating-image-container {
      width: 100%;
      max-width: none;
  }

  .rotating-image-container {
      margin-top: 20px;
  }
}
.container h2{
  color:#fff;
  font-weight: bold;
}

#about {
    text-align: center;
    padding: 50px 0;
}


.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:  15px;
    background-color: #0000008a;
}

.video-container {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
}

.play-button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    border-style: solid;
    border-width: 20px 0 20px 30px;
    border-color: transparent transparent transparent #fff;
}

video {
    width: 100%;
}


@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
    }

    .video-container,
    .text-container {
        width: 100%;
    }
}

.text-container {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  
}

.icon-item {
  position: relative;
  text-align: center;
  overflow: hidden; /* Para ocultar cualquier parte del texto que se salga del contenedor */
  transition: transform 0.3s ease-in-out; /* Agrega una transición suave al efecto de zoom */
  margin: 10px;
}

.icon-item:hover {
  transform: scale(1.2); /* Aplica un zoom del 120% al pasar el mouse por encima */
}

.icon-item i {
  font-size: 2em; /* Puedes ajustar el tamaño según tus preferencias */
  color: #fff; /* Puedes ajustar el color según tus preferencias */
  position: relative;
  z-index: 2; /* Coloca el ícono en una capa más alta para que esté sobre el texto */
}

.icon-item p {
  margin-top: 10px;
  position: relative;
  z-index: 1; /* Coloca el texto en una capa inferior */
  color: #fff;
  font-size:12 px;
}

.icon-item:hover p {
  transform: scale(1); /* Ajusta el tamaño del texto de nuevo a la escala original */
}
.responsive-iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; /* Esto establece la proporción del contenedor en función del ancho y alto del iframe (16:9) */
}

.responsive-iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



#contact {
  display: grid;
  grid-template-columns: 1fr; /* Por defecto, una columna para dispositivos pequeños */
  gap: 20px;
  padding: 20px;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

#contact-info, #contact-form {
  background-color: #f0f0f000;
  padding: 20px;
  border-radius: 10px;
  height: 100%; /* Establecer una altura fija para ambas columnas */
}

#contact-form {
  margin-top: 20px; /* Espacio entre la información de contacto y el formulario */
}


input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #700505;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border: 2px solid white;
  box-shadow: 0 0 10px rgba(252, 250, 250, 0.74);
  font-size: 18px;
}

/* Media query para pantallas más grandes */
@media (min-width: 768px) {
  #contact {
      grid-template-columns: repeat(2, 1fr);
  }
}