<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    <title>Sushi Paradise</title>
</head>
<body>
    <header>
        <h1>Sushi Paradise</h1>
        <br>
        <p style="color:#fcf8f8;font-family:Zambajoun;">SHUSHI BAR</p>
       

    </header>

    <nav>
        <ul>
            
            <li><a href="index.html">Home</a></li>
        <li><a href="#about">Nosotros</a></li>
        <li><a href="productos.html">Reservas</a></li>
        <li><a href="#contact">Contacto</a></li>
        </ul>
    </nav>

    <section class="hero">
        <div>
            <h2>Descubre el autentico sabor del sushi</h2>
            <a href="productos.html" class="cta">¡Haz tu Reserva!</a>
        </div>
        <div class="rotating-image-container">
            <div class="rotating-image"></div>
        </div>
    </section>

    <section id="about">
        
        <br><br>
    
        <div class="about-container">
            <div class="video-container">
                <div class="play-button"></div>
                <video controls>
                    <source src="tu-video.mp4" type="video/mp4">
                    Tu navegador no soporta el tag de video.
                </video>
            </div>
    
            
            <div class="text-container">
                <h1 style="color:#ad9300;">About Us</h1>
                <br>
                <div class="icon-grid">
                    <div class="icon-item">
                        <i class="fas fa-beer"></i>
                        <p>Disfruta de nuestros exquisitos platillos de sushi, preparados con los ingredientes más frescos y auténticos.</p>
                    </div>
                    <div class="icon-item">
                        <i class="fas fa-coffee"></i>
                        <p>Relájate con nuestro café de alta calidad, elaborado por baristas expertos para brindarte la mejor experiencia.</p>
                    </div>
                    <div class="icon-item">
                        <i class="fas fa-wine-glass"></i>
                        <p>Descubre nuestra selección de vinos finos, cuidadosamente elegidos para complementar tu experiencia culinaria.</p>
                    </div>
                    <div class="icon-item">
                        <i class="fas fa-utensils"></i>
                        <p>Experimenta la excelencia en cada bocado con nuestros utensilios de calidad y servicio de primera clase.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <main class="container">
        <div id="app" class="container text-center">
          <h1 style="color: #ad9300; ;" class="my-4">Ultimas Reservas </h1>
          <br><br>
      
          <div v-if="error" class="mt-4">
            <p style="color: aliceblue">Lo sentimos, no pudimos cargar la base de datos, inténtelo en unos minutos</p>
          </div>
      
          <div v-else>
            <section v-if="cargando" class="mt-4">
              <div class="spinner-border"></div>
              <p style="color: aliceblue">Cargando...</p>
            </section>
      <div class="table-responsive">
          <table class="table table-bordered table-auto">
            <thead>
              <tr>
                <th scope="col">Id interno</th>
                <th scope="col">Nombre</th>
                <th scope="col">Mesa</th>
                <th scope="col">Personas</th>
              </tr>
            </thead>
          <tbody>
          <tr class="" v-for="producto in productos">
          <td scope="row">{{producto.id}}</td>
          <td>{{producto.nombre}}</td>
          <td>{{producto.precio}}</td>
          <td>{{producto.stock}}</td>
      </tr>
      </tbody>
      </table>
      </div>
      </section>
      </div>
      </div>
      </main>
      
      <section id="contact">
        <div id="contact-info">
            <h2 style="color:#d40000;font-size:250%;font-family:Anything;">Información de contacto</h2>
            <br>
            <br>
            <p style="color:white;font-size:120%;">Dirección: 123 Calle Ficticia,
                
Manhattan
Nueva York,
</p>
            <p style="color:white;font-size:120%;">Email: info@sushiparadaise.com</p>
            <p style="color:white;font-size:120%;">Teléfono: 123-456-789</p>

            <iframe
        width="600"
        height="450"
        style="border:0"
        loading="lazy"
        allowfullscreen
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22492.4281300574!2d-74.00600538452607!3d40.71278718127795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2594d33f09d2d%3A0x3724d2dc8df05e1b!2sManhattan%2C%20Nueva%20York%2C%20NY%2C%20EE.%20UU.!5e0!3m2!1ses-419!2sco!4v1634161863425!5m2!1ses-419!2sco">
    </iframe>
        </div>

        <div id="contact-form">
            <h2 style="color:#d40000;font-size:250%;font-family:Anything;">Formulario de contacto</h2>
            <br>
            <br>
            <form>
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="message">Mensaje:</label>
                <textarea id="message" name="message" rows="4" required></textarea>

                <button type="submit">Enviar</button>
            </form>
        </div>
    </section>
    
    
    

    <footer>
        <p>&copy; 2023 Sushi Paradise. Todos los derechos reservados.</p>
    </footer>
      
      
      <script>
      
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"</script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"></script>
      <script src="./js/main.js"></script>
      <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--Link de VUE-->
      <script src="./js/productos.js"></script>
</body>
</html>

