<!DOCTYPE html>
<html lang="es">
<head>
    <title>Sushi Paradise</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@700&family=Nunito+Sans:opsz,wght@6..12,800&family=Roboto:wght@700&display=swap" rel="stylesheet"></head>
<body>
   
    <header>
        
        <h1 style= "color: #fafaf8; font-family: 'Dancing Script', cursive; font-size: 96px;">Sushi Paradise</h1>
        <h2 style="font-size:32px; color: #ad9300; font-family: 'Dancing Script', cursive; ">Descubre el verdadero abor del sushi</h2>
        <nav>
            <div class="menu-toggle">&#9776;</div>
            <ul class="nav-list">
                <li><a href="#">Inicio</a></li>
                <li><a href="#about">about</a></li>
                <li><a href="#app">Reservas</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
        <section class="hero">
            <div class="hero-content">
                <h1 style="font-family: 'Roboto', sans-serif; color: rgb(167, 2, 2)">Bienvenido a nuestro paraíso del sushi!</h1>
                
                <div class="rotating-image-container">
                    <div class="rotating-image"></div>
                </div>
                <br>
                <a href="#" class="btn-reserva">Ver Menú</a>
            </div>
        </section>
    </header>   
    

    <section id="about">
        <div class="column">
            <img src="./img/5.jpg" alt="Imagen 1">
        </div>

        <div class="center-column">
            <h2 style="font-size: 60px; color: #ad9300;">ART OF FOOD</h2><br><br><br>
            <p style="color: white; font-weight: bold;">Nuestro objetivo es promover la industria alimentaria a través de las sucursales que establecemos y a través de los nuevos platos. e integrarnos entre diferentes culturas.</p>
        </div>

        <div class="column">
            <img src="./img/6.jpg" alt="Imagen 2">
        </div>
    </section>


    <section id="cta-section">
        <h1 style= "font-family: 'Dancing Script', cursive; color: rgb(163, 0, 0); font-size: 96px;">¡Hace tu Reserva!</h1>
        <p>¡Reserva ahora y disfruta de una experiencia única! 🥢</p>
        <a href="#" class="btn-reserva">Reservar</a>
    </section>


    <!-- Galeria -->

    <div class="galeria">
        <div class="imagen" onclick="abrirImagen('img/11.png', 'Descripción de la imagen 1')">
            <img src="img/11.png" alt="Descripción de la imagen 1">
        </div>
        <div class="imagen" onclick="abrirImagen('img/10.png', 'Descripción de la imagen 2')">
            <img src="img/10.png" alt="Descripción de la imagen 2">
        </div>
        <div class="imagen" onclick="abrirImagen('img/12.png', 'Descripción de la imagen 2')">
            <img src="img/12.png" alt="Descripción de la imagen 2">
        </div>
        <div class="imagen" onclick="abrirImagen('img/13.png', 'Descripción de la imagen 2')">
            <img src="img/13.png" alt="Descripción de la imagen 2">
        </div>
        <div class="imagen" onclick="abrirImagen('img/14.png', 'Descripción de la imagen 2')">
            <img src="img/14.png" alt="Descripción de la imagen 2">
        </div>
        <div class="imagen" onclick="abrirImagen('img/15.png', 'Descripción de la imagen 2')">
            <img src="img/15.png" alt="Descripción de la imagen 2">
        </div>
        <div class="imagen" onclick="abrirImagen('img/16.png', 'Descripción de la imagen 2')">
            <img src="img/16.png" alt="Descripción de la imagen 2">
        </div>
        <div class="imagen" onclick="abrirImagen('img/17.png', 'Descripción de la imagen 2')">
            <img src="img/17.png" alt="Descripción de la imagen 2">
        </div>
        <div class="imagen" onclick="abrirImagen('img/18.png', 'Descripción de la imagen 2')">
            <img src="img/18.png" alt="Descripción de la imagen 2">
        </div>
        <div class="imagen" onclick="abrirImagen('img/19.png', 'Descripción de la imagen 2')">
            <img src="img/19.png" alt="Descripción de la imagen 2">
        </div>
        <div class="imagen" onclick="abrirImagen('img/10.png', 'Descripción de la imagen 2')">
            <img src="img/10.png" alt="Descripción de la imagen 2">
        </div>
        <div class="imagen" onclick="abrirImagen('img/15.png', 'Descripción de la imagen 2')">
            <img src="img/15.png" alt="Descripción de la imagen 2">
        </div>
    </div>

    <div class="modal" id="modal">
        <span class="cerrar" onclick="cerrarModal()">&times;</span>
        <img class="modal-contenido" id="imagenModal" alt="">
        <div id="descripcionModal"></div>
    </div>

    <script>
        function abrirImagen(src, descripcion) {
            var modal = document.getElementById('modal');
            var imagenModal = document.getElementById('imagenModal');
            var descripcionModal = document.getElementById('descripcionModal');

            imagenModal.src = src;
            descripcionModal.innerHTML = descripcion;
            modal.style.display = 'block';
        }

        function cerrarModal() {
            var modal = document.getElementById('modal');
            modal.style.display = 'none';
        }
    </script>


<!-- /Galeria -->


    <main class="container">
        <div id="app" class="container text-center">
          <h1 style="color: #ad9300; ;" class="my-4">Ultimas Reservas </h1>
          <br><br>
      
          <div v-if="error" class="mt-4">
            <p style="color: aliceblue">Lo sentimos, no pudimos cargar la base de datos, inténtelo en unos minutos</p>
          </div>
      
          <div v-else>
            <section v-if="cargando" class="mt-4">
              <div class="spinner-border"></div>
              <p style="color: aliceblue">Cargando...</p>
            </section>
      <div class="table-responsive">
          <table class="table table-bordered table-auto">
            <thead>
              <tr>
                <th scope="col">Id interno</th>
                <th scope="col">Nombre</th>
                <th scope="col">Mesa</th>
                <th scope="col">Personas</th>
              </tr>
            </thead>
          <tbody>
          <tr class="" v-for="producto in productos">
          <td scope="row">{{producto.id}}</td>
          <td>{{producto.nombre}}</td>
          <td>{{producto.precio}}</td>
          <td>{{producto.stock}}</td>
      </tr>
      </tbody>
      </table>
      </div>
      </section>
      </div>
      </div>
      </main>

    <footer>
        <p>&copy; 2023 Sushi Paradise. Todos los derechos reservados.</p>
    </footer>
      
      
      <script>
      
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"</script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"></script>
      <script src="./js/main.js"></script>
      <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--Link de VUE-->
      <script src="./js/productos.js"></script>
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
      <script src="./js/script.js"></script>

</body>
</html>

